<div class="container">
    <div class="row">
        <div class="col">
    <div class="card" style="width:200px;height:300px;" >
        <img src="https://images.unsplash.com/photo-1606041008023-472dfb5e530f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zmxvd2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        <div class="card-title">sunflower</div>
    </div>
</div>
<div class="col">
    <div class="card" style="width:200px;height:300px;">
        <img src="https://images.unsplash.com/photo-1495231916356-a86217efff12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZsb3dlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        <div class="card-title">Rose</div>
    </div>
</div>
<div class="col">
    <div class="card" style="width:200px;height:300px;">
        <img src="https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="">
        <div class="card-title">tulip</div>
    </div>
</div>
</div>
</div>
