

<nav class="navbar navbar-expand-lg ">
    
    <a href="" class="navbar-brand"><strong>Pepper</strong></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#demo">
        <span class="navbar-toggler-icon " style="color:coral"></span>
    </button>
    <div class="collapse navbar-collapse" id="demo">
        <ul class="navbar-nav">
            
            <li class="nav-item" ><a href="" routerLink="/" class="nav-link">Logout</a></li>   


            <form #cartform="ngForm" (ngSubmit)="onsubmit(cartform.value)">

                <input type="text" hidden value="{{value3}}" ngModel="{{value3}}" name="value3">

                <button (click)="reload()" class="btn"  type="submit"><i class="fa-solid fa-cart-shopping fa-2x text-warning"></i><span class="badge text-danger"></span></button>

            </form>
            
       

        
        </ul>
    </div>

</nav>


  


  <ng-container *ngIf="cartitems.length!=0"> 
<div class="container">
    <table class="table table-bordered " >
        <tr>
            <th>Sl.no</th>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            
        </tr>
        <tr *ngFor="let item of cartitems;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td><img src="{{image}}{{item.image}}" alt="" style="width:150px;height:100px;"></td>

            <td><button (click)="add(item)">+</button>{{item.quantity}} <button (click)="dec(item)">-</button></td>
            <div hidden *ngVar="a as variable"></div>
           <p hidden > a={{item.quantity*item.price}}</p>
            <td >{{item.quantity*item.price}}</td>

            <p hidden>b={{item.id}}</p>
            <div hidden *ngVar="b as variable"></div>

            <td> <form  #delete="ngForm" (ngSubmit)="remove(delete.value)">
                <input hidden type="text" name="value3" ngModel="{{value3}} " value="value3">
                <input hidden type="text" name="b" value="b" ngModel="{{item.id}}">
       

        <button type="submit" class="text-danger"  >delete</button>
           </form></td>

        </tr>
        <tr>
            <td colspan="4"></td>
            <td><button routerLink="/products" class="btn btn-success">Shop More</button></td>
        </tr>
    </table>
</div>

<footer style="height:43px;background-color:black;color:yellow;margin-top:41px; ">
    <p class="text-center"><strong>createdby @MamathaAnto2022</strong></p>
</footer>

  </ng-container> 

  <!-- <ng-container *ngIf="deletelist.length==0">    
     <div class="container" style="margin-top:60px;" > 
        <h1 class="text-center">My cart</h1>
        <div  class="text-center" style="margin-top: 70px;">
            <h3>cart is empty</h3>
            <button class="btn btn-warning" routerLink="/products">shop now</button>
        </div>
    </div>
  </ng-container>   -->









  